*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.classpath
.project
gae/test-video-360/test-video-360/.settings
*.mp4
.gwt-log
hellostories/.settings
hellostories/gwt-unitCache
*.rpc
*.nocache.js
*.cache.js
*.cache.png
compilation-mappings.txt
hellostories.devmode.js
manifest.txt
*.symbolMap
